<div class="main">
<div class="content">
    <mat-card class="card">
<form class="form" [formGroup]="loginForm" (submit)="onFormSubmit()">
    <mat-form-field>
        <mat-label for="username">Username: </mat-label>
        <input #input matInput
            formControlName="username">
    </mat-form-field>
    <mat-form-field>
        <mat-label for="username">Password: </mat-label>
        <input #input matInput
            formControlName="password" type="password">
    </mat-form-field>
  
    <button mat-button type="submit">Login</button>
  </form></mat-card>
</div>
</div>