<div class="content mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let user"> 
            @if (clickedRow === user) {
                <app-form [label]="'Name'" [initValue]="user.name" [inputType]="'string'"
                (onInputChange)="onInputChange('name', $event)"></app-form>
            }
            @else {
                {{user.name}} 
            }
        </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let user">
            @if (clickedRow === user) {
                <app-form [label]="'Email'" [initValue]="user.email" [inputType]="'string'"
                (onInputChange)="onInputChange('email', $event)"></app-form>
            }
            @else {
                {{user.email}} 
            }
        </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Role </th>
        <td mat-cell *matCellDef="let user">
            @if (clickedRow === user) {
                <app-form [label]="'Role'" [initValue]="user.role" [inputType]="'string'"
                (onInputChange)="onInputChange('role', $event)"></app-form>
            }
            @else {
                {{user.role}} 
            }
        </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let user"  
        [style.color]="user.status === 'active'? 'green': (user.status === 'inactive'? 
            '#fadd5f': 'red')">
            @if (clickedRow === user) {
                <app-form [label]="'Status'" [initValue]="user.status" [inputType]="'select'"
                    [selectOptions]="statusOpt" (onSelectionChange)="onRoleSelected($event)"></app-form>
            }
            @else {
                {{user.status}} 
            }
        </td>
      </ng-container>
  
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let user">
            @if (clickedRow === user) {
                <button mat-button (click)="deleteUser()"><img class="icon" src="/assets/delete.png" /></button>
            }
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        (click)="editClickedRow(row)"
        [class.demo-row-is-clicked]="clickedRow === row"
        *matRowDef="let row; columns: displayedColumns;"
      ></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic users">
    </mat-paginator>
  </div>